In [ ]:
#Data Analysis weekly challenges 1 - Chipotle Sales

# Link to dataset: Link to dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

# Challenge Questions

# Which was the most-ordered item?
# For the most-ordered item, how many items were ordered?
# What was the most ordered item in the choice_description column?
# How many items were ordered in total?
# Turn the item price into a float
# How much was the revenue for the period in the dataset?
# How many orders were made in the period?
# What is the average revenue amount per order?
# How many different items are sold?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [54]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [15]:
#Which was the most-ordered item?
chipo.groupby('item_name')['order_id'].nunique().sort_values(ascending=False)
#Answer: Chicken Bowl with 615 orders

item_name
Chicken Bowl                             615
Chicken Burrito                          489
Chips and Guacamole                      474
Steak Burrito                            342
Canned Soft Drink                        276
Chips                                    208
Steak Bowl                               188
Bottled Water                            154
Chips and Fresh Tomato Salsa             110
Chicken Soft Tacos                       107
Side of Chips                            101
Chicken Salad Bowl                        98
Canned Soda                               94
Veggie Burrito                            91
Barbacoa Burrito                          88
Veggie Bowl                               82
Carnitas Bowl                             67
Barbacoa Bowl                             61
Carnitas Burrito                          58
Steak Soft Tacos                          54
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       46
Chicken Crispy Tacos                      45
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       38
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          28
Nantucket Nectar                          26
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       19
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Izze                                      17
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                        9
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    4
Steak Salad                                4
Bowl                                       2
Salad                                      1
Crispy Tacos                               1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: order_id, dtype: int64

In [14]:
#For the most-ordered item, how many items were ordered?
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)
#answer: 761 quantity of chicken bowl with 615 orders

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [24]:
#What was the most ordered item in the choice_description column?
chipo.groupby('choice_description').nunique().sort_values('order_id',ascending=False)
chipo[chipo['choice_description']=='[Diet Coke]']['item_name'].unique()

array(['Canned Soda', '6 Pack Soft Drink', 'Canned Soft Drink'],
      dtype=object)

In [56]:
#How many items were ordered in total?
chipo.quantity.sum()
#5K

4972

In [49]:
#Turn the item price into a float
chipo['item_price']
chipo['item_price'].str.replace('$','',regex=True).astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [50]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [61]:
#How much was the revenue for the period in the dataset?
chipo['ext_ret_price']=chipo['item_price']*chipo['quantity']
chipo.ext_ret_price.sum()
#4K

39237.02

In [55]:
#How many orders were made in the period?

chipo.order_id.nunique()
#2K

1834

In [57]:
#How many different items are sold?
chipo.item_name.nunique()
#50 items were ordered in total

50

In [62]:
#What is the average revenue amount per order?
revenue=chipo.ext_ret_price.sum()
order_count=chipo.order_id.nunique()
aov=revenue/order_count
aov
#$21

21.39423118865867

In [79]:
common_match = chipo.groupby('order_id')['item_name'].unique().astype(str).value_counts()
#.unique()
#.astype(str).value_counts()
#common_match.apply(pd.DataFrame)
common_match

['Chicken Bowl' 'Chips and Guacamole']                                             68
['Chicken Bowl']                                                                   61
['Chicken Burrito']                                                                51
['Chicken Burrito' 'Chips and Guacamole']                                          37
['Steak Burrito' 'Chips and Guacamole']                                            26
                                                                                   ..
['Veggie Burrito' 'Carnitas Crispy Tacos']                                          1
['Barbacoa Bowl' 'Veggie Bowl']                                                     1
['Veggie Burrito' 'Veggie Crispy Tacos']                                            1
['Chicken Burrito' 'Chicken Soft Tacos'\n 'Chips and Roasted Chili Corn Salsa']     1
['Carnitas Bowl' 'Chips' 'Bottled Water']                                           1
Name: item_name, Length: 788, dtype: int64